html {
  font-size: 62.5%;
}

body {
  background-color: #303030;
  color: white;
  /* border: 5px solid green; */
}
p {
  font-size: 1.9rem;
}

.link {
  color: white;
  text-decoration: none;
  font-size: 1.6rem;
  transition: color 0.3s;
}

.App {
  text-align: center;
  font-size: 62.5%;
  font-family: Montserrat, Arial, sans-serif;
  box-sizing: border-box;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  /* border: 1px solid red; */
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 50px 0 50px;
  /* border: 1px solid blue; */
  max-width: 100%;
}

.title-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 5rem;
  font-weight: 400;
  margin: 0;
}

h2 {
  font-size: 2.5rem;
  font-weight: 400;
  margin: 0;
}
.name {
  border-bottom: 1px solid white;
  padding: 0px;
  margin-bottom: 10px;
}

.links {
  display: flex;
  justify-content: space-between;
  width: 225px;
  margin-right: 10px;
}

.link:hover {
  color: #00ffff;
}

.yt:hover {
  color: red;
}

.li:hover {
  color: #0072b1;
}

.gh:hover {
  color: #ff00ff;
}

.body-text {
  text-align: left;
  margin-left: 100px;
  padding-left: 40px;
  border-left: 5px solid white;
}

.heading {
  font-size: 4rem;
  margin: 0px;
}

.home-container {
  display: flex;
  align-items: flex-start;
  margin-top: 40px;
  margin-bottom: 200px;
  justify-content: center;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.img-container {
  margin-left: 35px;
  margin-right: 40px;
  float: right;
}

.circle {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: 5px solid white;
  overflow: hidden;
}

.avatar {
  height: 100%;
}

@media (max-width: 1000px) {
  .nav-container {
    flex-direction: column;
  }

  .links {
    margin-top: 30px;
  }

  .home-container {
    margin-left: 50px;
    margin-right: 50px;
  }

  .img-container {
    margin-right: 0;
    margin-left: 15px;
  }

  .body-text {
    padding-left: 0px;
    margin-left: 0px;
    border: none;
  }
}

@media (max-width: 800px) {
  .circle {
    height: 235px;
    width: 235px;
  }
  .home-container {
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
  }

  .body-text {
    margin-left: 0;
    margin-right: 0;
  }
}

/*Project styles */

.projects-heading {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.project-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-bottom: 6rem;
  /* border: 1px solid blue; */
}

.project-text {
  max-width: 500px;
  line-height: 1.5;
}

.project-description {
  font-size: 1.6rem;
}

.image-container {
  height: 400px;
  margin-left: 40px;
}

.project-image {
  height: 100%;
}

.mydish-image {
  border-radius: 20px;
}

.horiz-container {
  height: 300px;
}

.project-link {
  color: #00ffff;
  font-size: 1.6rem;
  text-decoration: none;
  margin-right: 2rem;
}

.project-link:hover {
  text-decoration: underline;
}

.inline-link {
  font-size: inherit;
}

@media (max-width: 800px) {
  .project-container {
    flex-direction: column;
    justify-content: center;
    /* border: 3px solid green; */
  }

  .project-title {
    text-align: center;
  }

  .link-container {
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
  }

  .project-link {
    margin-left: 1.5rem;
  }

  .image-container {
    margin: 0;
  }
}
